# MongoDB Atlas Connection String
# Replace with your actual MongoDB connection string from MongoDB Atlas
MONGODB_URI=mongodb+srv://shahhirkumar_db_user:Hirshah@cluster0.qravmme.mongodb.net/?appName=Cluster0

# Optional custom port for running locally
PORT=3000
