# MongoDB Atlas Connection String
# Replace with your actual MongoDB connection string from MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/stocktaker?retryWrites=true&w=majority

# Optional custom port for running locally
PORT=3000
